/* Bubble Style
---------------------------------------------------------------------------------------------------- */

.ea-share-count-button.style-bubble .ea-share-count {
	background: #fff;
	border-radius: 2px;
	color: #6c7080;
	display: block;
	font-family: 'Lucida Grande', 'Tahoma', sans-serif;
	font-size: 11px;
	font-weight: 400;
	line-height: 18px;
	float: left;
	line-height: 18px;
	padding: 0 4px 0;
	margin-left: 6px;
	position: relative;
	border: 1px solid #333;
}
 
.ea-share-count-button.style-bubble .ea-share-count:after,
.ea-share-count-button.style-bubble .ea-share-count:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
 
.ea-share-count-button.style-bubble .ea-share-count:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 4px;
	margin-top: -4px;
}
 
.ea-share-count-button.style-bubble .ea-share-count:before {
	border-color: rgba(51, 51, 51, 0);
	border-right-color: #333333;
	border-width: 5px;
	margin-top: -5px;
}

/* Facebook
--------------------------------------------- */

.ea-share-count-button.style-bubble.facebook,
.ea-share-count-button.style-bubble.facebook_likes,
.ea-share-count-button.style-bubble.facebook_shares,
.ea-share-count-button.style-bubble.facebook_comments {
	line-height: 1;
	font-size: 11px;
	font-family: 'Lucida Grande', 'Tahoma', sans-serif;
	display: inline-block;
}

.ea-share-count-button.style-bubble.facebook .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_likes .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_shares .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_comments .ea-share-count-icon-label {
	background: #5661b5;
	border-radius: 2px;
	color: #fff;
	display: block;
	float: left;
	font-weight: 400;
	padding: 4px 4px 3px;
}

.ea-share-count-button.style-bubble.facebook:hover .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_likes:hover .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_shares:hover .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_comments:hover .ea-share-count-icon-label {
	background: #506dc0;
}

.ea-share-count-button.style-bubble.facebook i,
.ea-share-count-button.style-bubble.facebook_likes i,
.ea-share-count-button.style-bubble.facebook_shares i,
.ea-share-count-button.style-bubble.facebook_comments i  {
	font-size: 12px;
	line-height: 12px;
	margin-right: 3px;
}

/* Twitter
--------------------------------------------- */

.ea-share-count-button.twitter.style-bubble {
	display: inline-block;
}
 
.ea-share-count-button.twitter.style-bubble .ea-share-count-icon-label {
	position: relative;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fff,#dedede);
	background-image: linear-gradient(#fff,#dedede);
	border: #ccc solid 1px;
	border-radius: 3px;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	cursor: pointer;
	height: 20px;
	line-height: 16px;
	max-width: 100%;
	overflow: hidden;
	padding: 1px 3px 1px 1px;
	display: block;
	float: left;
}
 
.ea-share-count-button.twitter.style-bubble .ea-share-count-icon-label i {
	color: #55ACEE;
	line-height: 1;
	font-size: 12px;
	margin-right: 3px;
}