/* Icons
---------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'easc';
    src:    url('../fonts/easc.eot?pxpg84');
    src:    url('../fonts/easc.eot?pxpg84#iefix') format('embedded-opentype'),
        url('../fonts/easc.woff2?pxpg84') format('woff2'),
        url('../fonts/easc.ttf?pxpg84') format('truetype'),
        url('../fonts/easc.woff?pxpg84') format('woff'),
        url('../fonts/easc.svg?pxpg84#easc') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="easc-"], [class*=" easc-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'easc' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.easc-print:before {
    content: "\e909";
}
.easc-share:before {
    content: "\e908";
}
.easc-stumbleupon:before {
    content: "\e907";
}
.easc-google-plus:before {
    content: "\e906";
}
.easc-linkedin:before {
    content: "\e905";
}
.easc-pinterest-p:before {
    content: "\e904";
}
.easc-twitter:before {
    content: "\e903";
}
.easc-facebook:before {
    content: "\e902";
}
.easc-close:before {
    content: "\e901";
}
.easc-envelope:before {
    content: "\e900";
}


/* General
---------------------------------------------------------------------------------------------------- */

.ea-share-count-wrap {
	margin: 0 0 20px 0;
}

.ea-share-count-wrap .ea-share-count-button {
	margin-right: 10px;
}


/* Bubble Style
---------------------------------------------------------------------------------------------------- */

.ea-share-count-button.style-bubble .ea-share-count {
	background: #fff;
	border-radius: 2px;
	color: #6c7080;
	display: block;
	font-family: 'Lucida Grande', 'Tahoma', sans-serif;
	font-size: 11px;
	font-weight: 400;
	line-height: 18px;
	float: left;
	line-height: 18px;
	padding: 0 4px 0;
	margin-left: 6px;
	position: relative;
	border: 1px solid #ccc;
}
 
.ea-share-count-button.style-bubble .ea-share-count:after,
.ea-share-count-button.style-bubble .ea-share-count:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
 
.ea-share-count-button.style-bubble .ea-share-count:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 4px;
	margin-top: -4px;
}
 
.ea-share-count-button.style-bubble .ea-share-count:before {
	border-color: rgba(51, 51, 51, 0);
	border-right-color: #ccc;
	border-width: 5px;
	margin-top: -5px;
}

.ea-share-count-button.style-bubble i {
	width:1.28571429em;
	text-align: center;
}

/* Facebook
--------------------------------------------- */

.ea-share-count-button.style-bubble.facebook,
.ea-share-count-button.style-bubble.facebook_likes,
.ea-share-count-button.style-bubble.facebook_shares,
.ea-share-count-button.style-bubble.facebook_comments {
	line-height: 1;
	font-size: 11px;
	font-family: 'Lucida Grande', 'Tahoma', sans-serif;
	display: inline-block;
}

.ea-share-count-button.style-bubble.facebook .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_likes .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_shares .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_comments .ea-share-count-icon-label {
	background: #5661b5;
	border-radius: 2px;
	color: #fff;
	display: block;
	float: left;
	font-weight: 400;
	padding: 4px 4px 3px;
}

.ea-share-count-button.style-bubble.facebook:hover .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_likes:hover .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_shares:hover .ea-share-count-icon-label,
.ea-share-count-button.style-bubble.facebook_comments:hover .ea-share-count-icon-label {
	background: #506dc0;
}

.ea-share-count-button.style-bubble.facebook i,
.ea-share-count-button.style-bubble.facebook_likes i,
.ea-share-count-button.style-bubble.facebook_shares i,
.ea-share-count-button.style-bubble.facebook_comments i  {
	font-size: 12px;
	line-height: 12px;
	margin-right: 3px;
}

/* Twitter
--------------------------------------------- */

.ea-share-count-button.twitter.style-bubble {
	display: inline-block;
}
 
.ea-share-count-button.twitter.style-bubble .ea-share-count-icon-label {
	position: relative;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fff,#dedede);
	background-image: linear-gradient(#fff,#dedede);
	border: #ccc solid 1px;
	border-radius: 3px;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	cursor: pointer;
	height: 20px;
	line-height: 16px;
	max-width: 100%;
	overflow: hidden;
	padding: 1px 3px 1px 1px;
	display: block;
	float: left;
}
 
.ea-share-count-button.twitter.style-bubble .ea-share-count-icon-label i {
	color: #55ACEE;
	line-height: 1;
	font-size: 12px;
	margin-right: 3px;
}

/* Pinterest
--------------------------------------------- */

.ea-share-count-button.pinterest.style-bubble {
	display: inline-block;
}
 
.ea-share-count-button.pinterest.style-bubble .ea-share-count-icon-label {
	position: relative;
	background-color: #fa0029;
	border: #cd0015 solid 1px;
	border-radius: 3px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	height: 20px;
	line-height: 16px;
	max-width: 100%;
	overflow: hidden;
	padding: 1px 3px 1px 1px;
	display: block;
	float: left;
}
 
.ea-share-count-button.pinterest.style-bubble .ea-share-count-icon-label:hover {
	background: #cd0015;
}

.ea-share-count-button.pinterest.style-bubble .ea-share-count-icon-label i {
	color: #fff;
	line-height: 1;
	font-size: 12px;
	margin-right: 3px;
}

/* LinkedIn
--------------------------------------------- */

.ea-share-count-button.linkedin.style-bubble {
	display: inline-block;
}
 
.ea-share-count-button.linkedin.style-bubble .ea-share-count-icon-label {
	position: relative;
	background-color: #008bbf;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	cursor: pointer;
	height: 20px;
	line-height: 18px;
	max-width: 100%;
	overflow: hidden;
	padding: 1px 3px 1px 1px;
	display: block;
	float: left;
}

.ea-share-count-button.linkedin.style-bubble .ea-share-count-icon-label:hover {
	background: #0077b4;
}
 
.ea-share-count-button.linkedin.style-bubble .ea-share-count-icon-label i {
	color: #fff;
	line-height: 1;
	font-size: 12px;
	margin-right: 3px;
}

/* Google Plus
--------------------------------------------- */

.ea-share-count-button.google.style-bubble {
	display: inline-block;
}
 
.ea-share-count-button.google.style-bubble .ea-share-count-icon-label {
	position: relative;
	background-color: #fff;
	border: #d4d4d4 solid 1px;
	border-radius: 3px;
	color: #f44336;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	cursor: pointer;
	height: 20px;
	line-height: 16px;
	max-width: 100%;
	overflow: hidden;
	padding: 1px 3px 1px 1px;
	display: block;
	float: left;
}

.ea-share-count-button.google.style-bubble .ea-share-count-icon-label:hover {
	border-color: #ccc;
}
 
.ea-share-count-button.google.style-bubble .ea-share-count-icon-label i {
	color: #f44336;
	line-height: 1;
	font-size: 12px;
	margin-right: 3px;
}

/* Stumble Upon
--------------------------------------------- */

.ea-share-count-button.stumbleupon.style-bubble {
	display: inline-block;
}
 
.ea-share-count-button.stumbleupon.style-bubble .ea-share-count-icon-label {
	position: relative;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fff,#dedede);
	background-image: linear-gradient(#fff,#dedede);
	border: #ccc solid 1px;
	border-radius: 3px;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	cursor: pointer;
	height: 20px;
	line-height: 16px;
	max-width: 100%;
	overflow: hidden;
	padding: 1px 3px 1px 1px;
	display: block;
	float: left;
}
 
.ea-share-count-button.stumbleupon.style-bubble .ea-share-count-icon-label i {
	color: #55ACEE;
	line-height: 1;
	font-size: 12px;
	margin-right: 3px;
}

/* Included Total Count
--------------------------------------------- */

.ea-share-count-button.included_total.style-bubble {
	display: inline-block;
}
 
.ea-share-count-button.included_total.style-bubble .ea-share-count-icon-label {
	position: relative;
	background-color: #999;
	border: #888 solid 1px;
	border-radius: 3px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	height: 20px;
	line-height: 16px;
	max-width: 100%;
	overflow: hidden;
	padding: 1px 3px 1px 1px;
	display: block;
	float: left;
}
 
.ea-share-count-button.included_total.style-bubble .ea-share-count-icon-label:hover {
	background: #666;
}

.ea-share-count-button.included_total.style-bubble .ea-share-count-icon-label i {
	color: #fff;
	line-height: 1;
	font-size: 12px;
	margin-right: 3px;
}

/* Print and Email
--------------------------------------------- */

.ea-share-count-button.print.style-bubble,
.ea-share-count-button.email.style-bubble {
	display: inline-block;
}
 
.ea-share-count-button.print.style-bubble .ea-share-count-icon-label,
.ea-share-count-button.email.style-bubble .ea-share-count-icon-label {
	position: relative;
	background-color: #f1f1f1;
	border: #ddd solid 1px;
	border-radius: 3px;
	color: #999;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
	height: 20px;
	line-height: 16px;
	max-width: 100%;
	overflow: hidden;
	padding: 1px 3px 1px 1px;
	display: block;
	float: left;
}
 
.ea-share-count-button.print.style-bubble .ea-share-count-icon-label:hover,
.ea-share-count-button.email.style-bubble .ea-share-count-icon-label:hover {
	background: #ddd;
}

.ea-share-count-button.print.style-bubble .ea-share-count-icon-label i,
.ea-share-count-button.email.style-bubble .ea-share-count-icon-label i, {
	color: #666;
	line-height: 1;
	font-size: 12px;
	margin-right: 3px;
}

/* Fancy Style
---------------------------------------------------------------------------------------------------- */

.ea-share-count-button.style-fancy {
	display: inline-block;
	color: #fff;
	border-radius: 2px;
	margin: 0 10px 10px 0;
	height: 22px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 22px;
	text-decoration: none;
	font-weight: normal;
	background-color: #aaa;
}

.ea-share-count-button.style-fancy i {
	display: inline-block;
	vertical-align: top;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	padding: 0 6px 0 10px;
}

.ea-share-count-button.style-fancy .ea-share-count-label {
	display: inline-block;
	vertical-align: top;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	font-weight: 700;
	padding-right: 10px;
}

.ea-share-count-button.style-fancy .ea-share-count {
	display: inline-block;
	vertical-align: top;
	height: 22px;
	line-height: 20px;
	font-size: 12px;
	position: relative;
	background-color: #fff;
	padding: 0 8px;
	margin-right: -2px;
	color: #555;
	border-radius: 0 2px 2px 0;
	border: 1px solid #aaa;
}

.ea-share-count-button.style-fancy .ea-share-count:after,
.ea-share-count-button.style-fancy .ea-share-count:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid;
}

.ea-share-count-button.style-fancy .ea-share-count:before {
	left: -6px;
	border-right-color: white;
}

.ea-share-count-button.style-fancy .ea-share-count:after {
	left: -5px;
	border-right-color: white;
}

/* Facebook
--------------------------------------------- */

.ea-share-count-button.style-fancy.facebook,
.ea-share-count-button.style-fancy.facebook_likes,
.ea-share-count-button.style-fancy.facebook_shares,
.ea-share-count-button.style-fancy.facebook_comments {
	background-color: #3b5998;
}

.ea-share-count-button.style-fancy.facebook:hover,
.ea-share-count-button.style-fancy.facebook_likes:hover,
.ea-share-count-button.style-fancy.facebook_shares:hover,
.ea-share-count-button.style-fancy.facebook_comments:hover {
	background-color: #2d4373;
}

.ea-share-count-button.style-fancy.facebook .ea-share-count,
.ea-share-count-button.style-fancy.facebook_likes .ea-share-count,
.ea-share-count-button.style-fancy.facebook_shares .ea-share-count,
.ea-share-count-button.style-fancy.facebook_comments .ea-share-count {
	border-color: #3b5998;
}

/* Twitter
--------------------------------------------- */

.ea-share-count-button.style-fancy.twitter {
	background-color: #00aced;
}

.ea-share-count-button.style-fancy.twitter:hover {
	background-color: #0087ba;
}

.ea-share-count-button.style-fancy.twitter .ea-share-count {
	border-color: #00aced;
}

/* Pinterest
--------------------------------------------- */

.ea-share-count-button.style-fancy.pinterest {
	background-color: #cb2027;
}

.ea-share-count-button.style-fancy.pinterest:hover {
	background-color: #9f191f;
}

.ea-share-count-button.style-fancy.pinterest .ea-share-count {
	border-color: #cb2027;
}

/* Google
--------------------------------------------- */

.ea-share-count-button.style-fancy.google {
	background-color: #dd4b39;
}

.ea-share-count-button.style-fancy.google:hover {
	background-color: #c23321;
}

.ea-share-count-button.style-fancy.google .ea-share-count {
	border-color: #dd4b39;
}

/* Stumble Upon
--------------------------------------------- */

.ea-share-count-button.style-fancy.stumbleupon {
	background-color: #eb4924;
}

.ea-share-count-button.style-fancy.stumbleupon:hover {
	background-color: #b83719;
}

.ea-share-count-button.style-fancy.stumbleupon .ea-share-count {
	border-color: #eb4924;
}

/* LinkedIn
--------------------------------------------- */

.ea-share-count-button.style-fancy.linkedin {
	background-color: #0077b5;
}

.ea-share-count-button.style-fancy.linkedin:hover {
	background-color: #005582;
}

.ea-share-count-button.style-fancy.linkedin .ea-share-count {
	border-color: #0077b5;
}

/* Included Total Count
--------------------------------------------- */

.ea-share-count-button.style-fancy.included_total {
	background-color: #999;
}

.ea-share-count-button.style-fancy.included_total:hover {
	background-color: #666;
}

.ea-share-count-button.style-fancy.included_total .ea-share-count {
	border-color: #999;
}

/* Email
--------------------------------------------- */

.ea-share-count-button.style-fancy.email {
	background-color: #aaa;
}

.ea-share-count-button.style-fancy.email:hover {
	background-color: #666;
}

.ea-share-count-button.style-fancy.email .ea-share-count {
	border-color: #aaa;
}


/* GSS Style
---------------------------------------------------------------------------------------------------- */

.ea-share-count-button.style-gss {
	display: inline-block;
	color: #fff;
	border-radius: 2px;
	margin: 0 10px 10px 0;
	font-size: 13px;
	height: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 25px;
	text-decoration: none;
	font-weight: normal;
	position: relative;
	background-color: #ccc;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ea-share-count-button.style-gss:hover {
	text-decoration: none;
}

.ea-share-count-button.style-gss i {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	margin: 0 8px 0 8px;
	width:1.28571429em;
	text-align:center;
	vertical-align: middle;
}

.ea-share-count-button.style-gss .ea-share-count-label {
	display: inline-block;
	vertical-align: top;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	font-weight: 700;
	padding-right: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 1px;
	overflow: hidden;
	opacity: 0;
}

.ea-share-count-button.style-gss:hover .ea-share-count-label {
	width: 100px;
	opacity: 1;
}

.ea-share-count-button.style-gss .ea-share-count {
	display: inline-block;
	vertical-align: top;
	height: 25px;
	line-height: 23px;
	font-size: 13px;
	position: relative;
	background-color: #fff;
	padding: 0 8px;
	margin-right: -2px;
	color: #555;
	border-radius: 0 2px 2px 0;
	border: 1px solid #ececec;
	font-weight: 700;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Facebook
--------------------------------------------- */

.ea-share-count-button.style-gss.facebook,
.ea-share-count-button.style-gss.facebook_likes,
.ea-share-count-button.style-gss.facebook_shares,
.ea-share-count-button.style-gss.facebook_comments {
	background-color: #3b5998;
}

.ea-share-count-button.style-gss.facebook:hover .ea-share-count,
.ea-share-count-button.style-gss.facebook_likes:hover .ea-share-count,
.ea-share-count-button.style-gss.facebook_shares:hover .ea-share-count,
.ea-share-count-button.style-gss.facebook_comments:hover .ea-share-count {
	background-color: #3b5998;
	color: #fff;
}

.ea-share-count-button.style-gss.facebook:hover .ea-share-count-label,
.ea-share-count-button.style-gss.facebook_likes:hover .ea-share-count-label,
.ea-share-count-button.style-gss.facebook_shares:hover .ea-share-count-label,
.ea-share-count-button.style-gss.facebook_comments:hover .ea-share-count-label {
	width: 68px;
}

.ea-share-count-button.style-gss.facebook .ea-share-count,
.ea-share-count-button.style-gss.facebook_likes .ea-share-count,
.ea-share-count-button.style-gss.facebook_shares .ea-share-count,
.ea-share-count-button.style-gss.facebook_comments .ea-share-count {
	border-color: #3b5998;
	color: #3b5998;
}

/* Twitter
--------------------------------------------- */

.ea-share-count-button.style-gss.twitter {
	background-color: #00aced;
}

.ea-share-count-button.style-gss.twitter:hover .ea-share-count {
	background-color: #00aced;
	color: #fff;
}

.ea-share-count-button.style-gss.twitter:hover .ea-share-count-label {
	width: 46px;
}

.ea-share-count-button.style-gss.twitter .ea-share-count {
	border-color: #00aced;
	color: #00aced;
}

/* Pinterest
--------------------------------------------- */

.ea-share-count-button.style-gss.pinterest {
	background-color: #cb2027;
}

.ea-share-count-button.style-gss.pinterest:hover .ea-share-count {
	background-color: #cb2027;
	color: #fff
}

.ea-share-count-button.style-gss.pinterest .ea-share-count {
	border-color: #cb2027;
	color: #cb2027;
}

.ea-share-count-button.style-gss.pinterest:hover .ea-share-count-label {
	width: 28px;
}

/* Google
--------------------------------------------- */

.ea-share-count-button.style-gss.google {
	background-color: #dd4b39;
}

.ea-share-count-button.style-gss.google:hover .ea-share-count {
	background-color: #dd4b39;
	color: #fff;
}

.ea-share-count-button.style-gss.google:hover .ea-share-count-label {
	width: 58px;
}

.ea-share-count-button.style-gss.google .ea-share-count {
	border-color: #dd4b39;
	color: #dd4b39;
}

/* Stumble Upon
--------------------------------------------- */

.ea-share-count-button.style-gss.stumbleupon {
	background-color: #eb4924;
}

.ea-share-count-button.style-gss.stumbleupon:hover .ea-share-count {
	background-color: #eb4924;
	color: #fff;
}

.ea-share-count-button.style-gss.stumbleupon:hover .ea-share-count-label {
	width: 90px;
}

.ea-share-count-button.style-gss.stumbleupon .ea-share-count {
	border-color: #eb4924;
	color: #eb4924;
}

/* LinkedIn
--------------------------------------------- */

.ea-share-count-button.style-gss.linkedin {
	background-color: #0077b5;
}

.ea-share-count-button.style-gss.linkedin:hover .ea-share-count  {
	background-color: #0077b5;
	color: #fff;
}

.ea-share-count-button.style-gss.linkedin:hover .ea-share-count-label {
	width: 60px;
	color: #fff;
}

.ea-share-count-button.style-gss.linkedin .ea-share-count {
	border-color: #0077b5;
	color: #0077b5;
}

/* Included Total Count
--------------------------------------------- */

.ea-share-count-button.style-gss.included_total {
	background-color: #999;
}

.ea-share-count-button.style-gss.included_total:hover .ea-share-count  {
	background-color: #999;
	color: #fff;
}

.ea-share-count-button.style-gss.included_total:hover .ea-share-count-label {
	width: 36px;
	color: #fff;
}

.ea-share-count-button.style-gss.included_total .ea-share-count {
	border-color: #999;
	color: #666;
}

/* Included Email
--------------------------------------------- */

.ea-share-count-button.style-gss.email {
	background-color: #aaa;
}

.ea-share-count-button.style-gss.email:hover .ea-share-count  {
	background-color: #aaa;
	color: #fff;
}

.ea-share-count-button.style-gss.email:hover .ea-share-count-label {
	width: 36px;
	color: #fff;
}

.ea-share-count-button.style-gss.email .ea-share-count {
	border-color: #aaa;
	color: #999;
}

/* Print
--------------------------------------------- */

.ea-share-count-button.style-gss.print:hover .ea-share-count-label {
	width: 40px;
}


/* Email Modal
---------------------------------------------------------------------------------------------------- */

#easc-modal-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background: rgba(255,255,255,0.90);
	z-index: 999;
	overflow: hidden;
}

.easc-modal {
	box-shadow: -1px 4px 6px rgba(0,0,0,0.09);
	border: 1px solid #ccc;
	background-color: #fff;
	width: 320px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -160px;
}

.easc-modal-title {
	display: block;
	text-align: center;
	margin: 0 0 10px 0;
	font-size: 20px;
}

.easc-modal p {
	margin: 0 0 10px 0;
}

.easc-modal label {
	display: block;
	font-size: 14px;
	color: #333;
	margin: 0 0 2px 0;
}

.easc-modal input[type=text] {
	display: block;
	margin: 0;
	width: 100%;
	border: 1px #e2e2e2 solid;
	border-radius: 0;
	background-color: #fff;
	border-radius: 0;
	color: #333;
	font-size: 16px;
	padding: 6px 10px;
	box-shadow: none;
}

p.easc-modal-submit {
	text-align: center;
	margin: 14px 0 0;
}

#easc-modal-submit,
#easc-modal-submit:hover {
	border: none;
	font-weight: 400;
	font-size: 16px;
	padding: 10px 20px;
}

#easc-modal-submit:disabled {
	opacity: 0.5;
}

#easc-modal-close .close-icon {
	display: block;
	position: absolute;
	top: -8px;
	right: -8px;
	line-height: 22px;
	box-shadow: 0 0 0 1px #fff,0 0 0 2px #d8d8d8,-1px 1px 2px 3px rgba(0,0,0,0.15);
	font-size: 14px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-clip: padding-box;
	background-color: #999;
	color: #fff;
	transition: background-color 0.2s ease-in;
	text-align: center;
	z-index: 999;
	font-weight: 400;
}

#easc-modal-close:hover {
	text-decoration: none;
	background-color: #000;
}

#easc-modal-sent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background: rgba(255,255,255,0.94);
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	padding-top: 40%;
	color: green;
	display: none;
}

.easc-modal-validation {
	display: none;
}